snippet log
	console.log(${1:});
snippet logs
	console.log("${1:}");
snippet ready
	$(function() {
	  ${1}
	})
snippet domready
	$.domReady(function() {
	  ${1}
	})
snippet resize
	$(window).bind("resize", function () {
	  console.log($(this).width());
	})
snippet fn
	function (${1}) {${2}}${3}
